"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    c:
      default_beautifier: "clang-format"
    ejs:
      indent_level: 2
      indent_size: 2
      space_before_conditional: false
    general:
      _analyticsUserId: "17f46383-3418-4c71-bde0-5aea841f143d"
    html:
      indent_size: 2
      wrap_line_length: 120
    js:
      indent_size: 2
      space_before_conditional: false
    jsx:
      default_beautifier: "JS Beautify"
      indent_size: 2
      space_before_conditional: false
    python:
      default_beautifier: "black"
      sort_imports: true
    typescript:
      indent_size: 2
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    "atom-ide-diagnostics-ui":
      showDirectoryColumn: true
    "atom-ide-outline-view": {}
    use: {}
  "atom-package-deps":
    ignored: []
  "autocomplete-go": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.makefile": [
        "Makefile"
        "Makefile.local"
        "Makefile.helm.local"
      ]
      "source.python": [
        "BUCK"
      ]
      "text.html.basic": [
        "rt"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "symbols-view"
      "spell-check"
      "github"
      "linter"
      "linter-ui-default"
      "ide-go"
      "ide-yaml"
      "python-autopep8"
      "language-gfm"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 11
    scrollPastEnd: true
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "53f5306d-b3ef-b804-5b38-b4b0dcb858c5"
  "go-debug": {}
  "go-outline":
    showVariables: false
  "go-plus":
    autocomplete:
      proposeBuiltins: false
    config:
      additionalBuildArgs: "-mod=readonly"
      additionalTestArgs: "-mod=readonly"
    currentPanelHeight: "4.613095238095238vh"
    disabledBundledPackages: [
      "go-debug"
    ]
    format: {}
    get: {}
    lint: {}
    panel:
      displayMode: "closed"
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
      runTestsOnSave: false
      runTestsWithShortFlag: false
      timeout: 10000
  "goto-definition": {}
  linter: {}
  "linter-flake8":
    maxLineLength: 160
  "linter-jscs":
    displayAs: "warning"
    onlyConfig: true
  "linter-python":
    executablePath: "/usr/local/bin/pylama"
    ignoreCodes: "E501"
    withPep8: true
  "linter-ui-default":
    panelHeight: 373
  "open-recent":
    listDirectoriesAddedToProject: true
    maxRecentFiles: 0
    replaceNewWindowOnOpenDirectory: false
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
