"*":
  "atom-beautify":
    ejs:
      indent_level: 2
      indent_size: 2
      space_before_conditional: false
    general:
      _analyticsUserId: "17f46383-3418-4c71-bde0-5aea841f143d"
    html:
      indent_size: 2
      wrap_line_length: 120
    js:
      indent_size: 2
      space_before_conditional: false
    jsx:
      default_beautifier: "JS Beautify"
      indent_size: 2
      space_before_conditional: false
    python:
      sort_imports: true
    typescript:
      indent_size: 2
  "autocomplete-go": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    audioBeep: false
    customFileTypes:
      "text.html.basic": [
        "rt"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "symbols-view"
      "spell-check"
      "python-autopep8"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 10
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "53f5306d-b3ef-b804-5b38-b4b0dcb858c5"
  "go-outline":
    showVariables: false
  "go-plus":
    config: {}
    currentPanelHeight: "4.613095238095238vh"
    format: {}
    get: {}
    lint: {}
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
      runTestsOnSave: false
      runTestsWithShortFlag: false
  "goto-definition": {}
  linter:
    errorPanelHeight: 83
  "open-recent":
    listDirectoriesAddedToProject: true
    maxRecentFiles: 0
    replaceNewWindowOnOpenDirectory: false
  "tree-view":
    alwaysOpenExisting: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
