"*":
  "autocomplete-go": {}
  "autocomplete-plus":
    autoActivationDelay: 500
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    audioBeep: false
    destroyEmptyPanes: false
    disabledPackages: [
      "symbols-view"
      "spell-check"
      "autocomplete-python"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 13
    showInvisibles: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "53f5306d-b3ef-b804-5b38-b4b0dcb858c5"
  "go-outline":
    showVariables: false
  "go-plus":
    config: {}
    currentPanelHeight: "4.613095238095238vh"
    format: {}
    get: {}
    lint: {}
    panelDisplayMode: "closed"
    test:
      focusPanelIfTestsFail: false
      runTestsOnSave: false
      runTestsWithShortFlag: false
  "goto-definition": {}
  linter:
    errorPanelHeight: 51
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
  "open-recent":
    listDirectoriesAddedToProject: true
    maxRecentFiles: 0
    replaceNewWindowOnOpenDirectory: false
  "tree-view":
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
