'.platform-linux atom-text-editor':
  'ctrl-d': 'editor:delete-line'
  'ctrl-i': 'find-and-replace:select-next'

'.workspace':
  'alt-w left': 'pane:split-left-and-copy-active-item'
  'alt-w right': 'pane:split-right-and-copy-active-item'
  'alt-w down': 'pane:split-down-and-copy-active-item'
  'alt-w up': 'pane:split-up-and-copy-active-item'
  'alt-w left': 'pane:split-left-and-copy-active-item'
  'alt-w q': 'pane:close'
  'alt-up': 'window:focus-pane-above'
  'alt-left': 'window:focus-pane-on-left'
  'alt-right': 'window:focus-pane-on-right'
  'alt-down': 'window:focus-pane-below'
  'ctrl-shift-i': 'window:toggle-dev-tools'


'atom-workspace atom-text-editor':
  'ctrl-k ctrl-l': 'unset!'
  'alt-up': 'window:focus-pane-above'
  'alt-left': 'window:focus-pane-on-left'
  'alt-right': 'window:focus-pane-on-right'
  'alt-down': 'window:focus-pane-below'

'.platform-linux atom-text-editor:not(.mini)':
  'alt-c': 'golang:godef'
  'alt-x': 'golang:godef-return'

'atom-text-editor':
  'alt-shift-d': 'golang:showdoc'
  'alt-d': 'editor:delete-to-end-of-word'
